* {
  box-sizing: border-box;
}

.tutory-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2vw 15vw;
}

.tutory-image {
  height: 15vw;
  width: 15vw;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: end;
}

.tutory-content {
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tutory-subject {
  font-size: 18px;
}

.delete-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .tutory-container {
    flex-direction: column;
    margin: 2vw;
  }

  .tutory-image {
    width: 80vw;
    height: 80vw;
  }
}
