.tutories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  transition: transform 700ms ease-in-out;
}

.tutory {
  padding: 1rem;
}

.tutory img {
  width: 85%;
  margin-inline: auto;
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 30px;
}

.tutory .separator {
  margin-block: 1rem;
}

.tutory p {
  color: var(--secondary-dark);
}

.tutory .social-media {
  justify-content: center;
  margin-block: 1rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #98bf10;
  color: white;
  width: max-content;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: transparent;
}

.arrow span {
  font-size: 2.4rem;
}

.arrow:disabled {
  background-color: #cdcdcd;
}

.arrow--left {
  left: 0;
  padding-left: 2.5rem;
  padding-right: 0.8rem;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

.arrow--left span {
  transform: rotate(180deg);
}

.arrow--right {
  right: 0;
  padding-right: 2.5rem;
  padding-left: 0.8rem;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

@media (min-width: 1024px) {
  .tutories-wrapper {
    overflow: hidden;
  }
}
