.rel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 2vw;
}

.reservations-content {
  padding: 10px;
  width: 80vw;
  background-color: #9ac10ed7;
  color: white;
}

.table {
  width: 80vw;
  border-collapse: collapse;
}

.table td {
  width: 25%;
  white-space: wrap;
  border: 1px dashed black;
  padding: 8px;
}