.rel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 2vw;
}

.reservations-content {
  padding: 10px;
  width: 50vw;
  background-color: #9ac10ed7;
  color: white;
}