@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
  --secondary: #c1c1c1;
  --secondary-dark: #454545;
}

html {
  scroll-padding-top: 90px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

button span {
  pointer-events: none;
}

button:has(span) {
  display: flex;
  align-items: center;
}

a:has(span) {
  display: flex;
  align-items: center;
  text-decoration: none;
}

button.reset {
  background: none;
  border: none;
}
