@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;

  --secondary: #c1c1c1;
  --secondary-dark: #454545;
}

html {
  scroll-padding-top: 90px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

button span {
  pointer-events: none;
}

button:has(span) {
  display: flex;
  align-items: center;
}

a:has(span) {
  display: flex;
  align-items: center;
  text-decoration: none;
}

button.reset {
  background: none;
  border: none;
}

.all\:center-text * {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.fs-1-3 {
  font-size: 1.3rem;
}

.separator {
  height: 2px;
  max-width: 150px;
  margin-inline: auto;
  border-bottom: 2px dashed var(--secondary);
}

.social-media {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.social-media li {
  border: 2px solid var(--secondary);
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

.social-media svg {
  width: 20px;
  height: 20px;
}

.title {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

.subtitle {
  font-weight: bold;
  color: var(--secondary-dark);
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.relative {
  position: relative;
}

button[type="button"].arrow,
a.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #98bf10;
  color: white;
  width: max-content;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: transparent;
}

a.arrow--left-bottom {
  top: 80%;
  transform: translateY(0);
}

a.arrow--left span {
  transform: rotate(180deg);
}

a.arrow span {
  font-size: 2.4rem;
}

button[type="button"].arrow--left span {
  transform: rotate(180deg);
}

button[type="button"].arrow span {
  font-size: 2.4rem;
}

button[type="button"].arrow:disabled,
a.arrow:disabled {
  background-color: #cdcdcd;
}

button[type="button"].arrow--left,
a.arrow--left {
  left: 0;
  padding-left: 2.5rem;
  padding-right: 0.8rem;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

button[type="button"].arrow--right,
a.arrow--right {
  right: 0;
  padding-right: 2.5rem;
  padding-left: 0.8rem;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.flex {
  display: flex;
}

.grow-1 {
  flex-grow: 1;
}

.ai-center {
  align-items: center;
}

@media (min-width: 1024px) {
  .center-container {
    display: grid;
    height: 100vh;
    place-items: center;
  }

  .center-container > div:first-child {
    width: 100%;
  }
}
