.details {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 70% 30%;
  width: min(100% - 3rem, 1440px);
  margin-inline: auto;
  padding-inline: 1rem;
  height: 70vh;
}

.details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.272);
}

.details__content {
  display: flex;
  flex-direction: column;
}

.details__list li {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.details__list li:nth-child(odd) {
  background-color: #e2e3e5;
}

.details__link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button.details__button {
  margin-left: auto;
  background-color: #98bf0c;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.1rem;
}

button.details__button span:first-child {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.details__link span:last-child {
  color: #f8cc3e;
  font-size: 1.8rem;
}
